
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19GRlFTc0xjb2lINS0yWWhGQjEwWk8iLCJhcGlfa2V5IjoiMDFLOERUUkMwQzhQNEtRSkoxOUVGWjRDMFMiLCJ0ZW5hbnRfaWQiOiIxOWZiZDJkNTFkNmNhNzRmYzc4MTIzOWY2NTk1NjkwODg1YmIxZGVmNDc0NDBjZGNlMWJjOWFlMDAxOGFiZmY5IiwiaW50ZXJuYWxfc2VjcmV0IjoiNGRjYzE3NDktMTRhZS00NTAwLTkyNmMtM2Y2OTFlNGIzYmIwIn0.MujvEZn56BW42tKYFVav4x9EgWUy6yQ6YN6Bx0LfWwY"
CLAUDE_KEY="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"